div {
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    margin-bottom: 59px;
}
h2{
    color: blue;
}
a{
    color: blue;
    text-decoration: none; 
}
.ssylka{
    text-align: right;
}